// Define variables for your color scheme
// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #333333;
$medium-gray: #9E9E9E;
$light-gray: #F6F6F6;
$black: #363636;
$main: #E30054;
