
  <div class="home-banner">
    <div class="banner-content">
      <h1>My Javascript Training Portfolio</h1>
      <p class="bold">
        <span>Some Text</span>
      </p>
    </div>
  </div>
  <div class="how-banner">

  </div>
  <div class="gift-banner">

  </div>

