<div class="home-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="home-form">
          <h2>I am a Franchouillard</h2>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div class="headline">
          <div class="empty-space"></div>
          <h1><span>Quand rien n'est prévu, tout est possible</span></h1>
          <p>La France authentique et inconnue à moins de 2h30 de chez vous, le temps d'un week-end.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="how-banner"></div>
<div class="gift-banner"></div>

