#details-banner {
  display : flex;
  justify-content: center;
  align-items: center;
  // background: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(101, 100, 91, 0.6) 50%), image-url('banner.jpg');
  background-color: white;
  background-attachment: fixed;
  color: white;
  height: 800px;
  background-size: cover !important;
  h3 {
    color: $gray;
  }
}

.details-form {
  position: absolute;
  top: 80px;
  background-color: rgba(255, 255, 255, 0.97);
  width: 600px;
  h2 {
    text-align: center;
    // padding: 20px 0;
  }
  h3 {
    text-align: left;
    font-weight: 600;
  }
  color: $gray;
}

.details-form-content {
  padding: 20px;
}

.client-form {
  color: #989898;
  border: none;
  border-bottom: 1px solid #CCC;
  box-shadow: none;
}

.checkbox label {
  font-size: 16px;
  margin-top: 10px;
}

@media (max-width: 800px) {
  .details-form {
    display: block;
    width : 80%;
    margin: 35px auto;
  }
}
