#gift-banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 50px);
  background-color: $light-gray;
}

.gift-content {
  position: relative;
  height: 100%;
}

.gift-pst {
  position: absolute;
  top: 40px;
  left: 35px;
  p {
    margin: 0;
    color: $medium-gray;
  }
}

.gift-hk {
  position: absolute;
  top: 52%;
  right: 205px;
  p {
  text-align: right;
  font-weight: 500;
  margin: 15px;
  color: $medium-gray;
  }
}

.gift-image {
  position: absolute;
  top: 40%;
  right: 0px;
}

h2 {
  margin: 0;
  color: $main;
  font-size: 35px;
  font-weight: 700;
}

.btn-primary {
  margin: 40px auto;
}

@media (max-width: 800px) {
  #gift-banner {
    height: auto;
    box-sizing: border-box;
  }
  .gift-pst {
    position: static;
    margin: 20px;
  }
  .gift-hk {
    position: static;
    margin: 35px;
    h2, p {
      text-align: center;
    }
  }
  .gift-image {
    position: static;
    display: block;
    margin: 0 auto;
  }
}
