.stripe-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;

  .StripeElement {
    background-color: white;
    height: 40px;
    width: 400px;
    padding: 10px 12px;
    border: none;
    border-bottom: 1px solid #CCC;
    border-radius: none;
    box-shadow: none;

    // box-shadow: 0 1px 3px 0 #e6ebf1;
    // -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 0 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
}
