#testimonials-banner {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 50px);
  background-color: $light-gray;
}

.testimonials-title {
 height: 100%;
 width: 35%;
 background-color: $admin;
 h2 {
   margin: 0;
   padding: 20px;
   color: white;
 }
 h3 {
   margin: 0;
   padding: 0 20px;
   font-size: 16px;
   font-style: italic;
   color: white;
 }
}

.testimonials-car {
  width: 65%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#testimonial-1-text {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  background-color: blue;
}

#testimonial-1-pic {
  grid-row: 1 / 1;
  grid-column: 2 / 1;
  background-color: blue;
}

#testimonial-2-text {
  grid-row: 2 / 1;
  grid-column: 2 / 1;
  background-color: blue;
}

#testimonial-2-pic {
  grid-row: 2 / 1;
  grid-column: 1 / 1;
  background-color: blue;
}
