<p>Line</p>
<h1>Journeys</h1>
<% @journeys.each do |journey| %>
  <h3>Séjour <%= journey.id %></h3>
  <p>Destination : <%= journey.destination_type %></p>
  <p>Nombre de personnes : <%= journey.people_count %></p>
<% end %>
